* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
}

.app-container {
  height: 100vh;
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgb(217, 187, 200);
  background: radial-gradient(
    circle,
    rgba(217, 187, 200, 1) 0%,
    rgba(192, 183, 252, 1) 50%,
    rgba(71, 151, 246, 1) 100%
  );
}

h1 {
  font-family: "Press Start 2P", serif;
  color: #333;
  padding-bottom: 2rem;
}

.icon {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.label {
  display: inline-block;
  font-size: 1.8rem;
}

.card-container {
  background-color: #fff;
  height: auto;
  min-width: 600px;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.95;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-align: left;
}

.input-box {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.shorten-button {
  background-color: #579bf6;
  width: 100%;
  color: #fff;
  margin: 1rem;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shorten-button:disabled {
  opacity: 0.5;
}

.shorten-button:hover:not(:disabled) {
  background-color: #95acfa;
}

.shortened-url {
  padding: 1rem;
  font-size: 1.2rem;
}

.shortened-url-container a {
  color: #589cf7;
  text-decoration: none;
  font-size: 1.5rem;
}

.shortened-url-container a:hover {
  color: #052c92;
}

/* Estilos para tablets (pantallas entre 600px y 1024px) */
@media screen and (max-width: 1024px) {
  .card-container {
    min-width: 80%; /* Se adapta mejor a tablets */
    padding: 2rem; /* Reduce el padding */
  }

  h1 {
    font-size: 1.4rem; /* Reduce el tamaño del título */
    margin: 3rem;
  }

  .icon {
    height: 1.2rem;
    width: 1.2rem;
  }

  .input-box {
    font-size: 14px;
    padding: 0.8rem;
  }

  .shorten-button {
    font-size: 1rem;
    padding: 10px 16px;
  }

  .shortened-url {
    font-size: 1.1rem;
  }

  .shortened-url-container a {
    font-size: 1.3rem;
  }
}

/* Estilos para móviles (pantallas menores a 600px) */
@media screen and (max-width: 600px) {
  .card-container {
    min-width: 80%;
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.2rem;
    margin: 2rem;
    text-align: center;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }

  .input-box {
    font-size: 14px;
    padding: 0.6rem;
  }

  .shorten-button {
    font-size: 0.9rem;
    padding: 10px 14px;
  }

  .shortened-url {
    font-size: 1rem;
  }

  .shortened-url-container a {
    font-size: 1.1rem;
  }
}
